[phases.setup]
nixPkgs = ["nodejs_22", "python3", "gcc", "gnumake"]

[phases.install]
cmds = ["npm ci --prefix backend", "npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node backend/src/server.js"
